.selectStore_wrapper {
  background-color: white;
  max-width: 40vw;
  max-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  border-radius: 20px;
}
.select_locations {
  margin-bottom: 10px;
}
.select_option {
  width: 40vw;
  height: 50px;
}
@media only screen and (max-width: 480px) {
  .selectStore_wrapper {
    max-width: 50vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .selectStore_wrapper {
    max-width: 70vw;
  }
}
