.textResponsive {
  text-align: center;
}

.slider {
  position: relative;
  width: 60vw;
  overflow: hidden;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px white;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  opacity: 0;
  animation: slideX 4s alternate ease;
}

.slide.active {
  opacity: 1;
}

@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.svgWrapper {
  display: flex;
  justify-content: center;
}

svg {
  margin: 10px;
}
